@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Manrope:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
}

.interactive-map-shell .leaflet-container,
.interactive-map-shell .leaflet-pane,
.interactive-map-shell .leaflet-top,
.interactive-map-shell .leaflet-bottom,
.interactive-map-shell .leaflet-control {
  z-index: 0 !important;
}

.interactive-map-shell .leaflet-popup {
  z-index: 1 !important;
}
